@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

::placeholder {
	color: #333300;
	font-family: 'FontAwesome', 'Do Hyeon', sans-serif;
	font-size: 25px;
}